section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    align-items: center;
    gap: 20px;
}

section div {
    text-align: center;
    margin: 15px auto;
}

section div img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}