.cont-carta {
    width: 300px;
    font-size: small;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.cont-carta:hover {
    border: 1px solid red;
}

.cont-carta img {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    padding: 10px;
}

.cont-carta h3, p {
    text-align: left;
    padding: 5px;
}