* {
    margin: 0; padding: 0
}

header, main, footer {
    margin: 15px
}

h1 {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    margin: 45px;
    text-align: center;
}

.hipervinculo {
    font-family: sans-serif;
    text-decoration: none;
    font-size: 14px;
    margin: 18px;
}

.adalink {
    font-family: sans-serif;
    text-decoration: none;
    color: lightskyblue;
    font-size: 14px;
}

main p {
    font-family: sans-serif;
    font-size: 12pt;
    margin: 20px;
    text-align: justify;
}

.italica {
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

.parrafo_diferente {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}