* {
    margin: 0; padding: 0; box-sizing: border-box;
}

/* section {
    background-color: aqua;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section div {
    background-color: blueviolet;
    margin: 10px;
    width: 50px;
    padding: 10px;
    text-align: center;
} */

section{
    background-color: aqua;
    padding: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: center;
    gap: 10px;
}

section div {
    width: 100%;
    text-align: center;
    background-color: rgb(163, 32, 54);
}
